@import "tailwindcss";

@theme {
  --color-brand-50: #fdf2f8;
  --color-brand-100: #fce7f3;
  --color-brand-200: #fbcfe8;
  --color-brand-500: #ec4899;
  --color-brand-600: #db2777;
  --color-brand-900: #831843;
  --color-danger: #ef4444;
  --color-safe: #10b981;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}